# Case Study: Customer Analysis Study [LAB] Week 2, Day 1,2

# Activites List
It is highly encouraged to work in a group of two students for the lab of this case study.
Important: for Activity 1, Activity 2 and Activity 3 , please use the files file1.csv, file2.csv and file3.csv from the Data folder.
## Activity 1 (Monday)

### Aggregate data into one Data Frame using Pandas. Pay attention that files may have different names for the same column. therefore, make sure that you unify the columns names before concating them.

In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
import xlrd
import openpyxl

pd.options.display.max_rows = 100
## Install xlrd package to load Excel files
#!conda install openpyxl
#!conda install xlrd

In [66]:
file1 = pd.read_csv('Data/file1.csv')
file1.rename(columns={"ST":"state"}, inplace=True )
colFile1 = file1.columns.tolist()
print(colFile1)

['Customer', 'state', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']

In [67]:
file2 = pd.read_csv('Data/file2.csv')
file2.rename(columns={"ST":"state"}, inplace=True )

#list(file2.columns)
print(file2[colFile1])

file2 = file2[colFile1]
file2.info()

    Customer       state GENDER Education Customer Lifetime Value  Income  \
0    GS98873     Arizona      F  Bachelor              323912.47%   16061
1    CW49887  California      F    Master              462680.11%   79487
2    MY31220  California      F   College              899704.02%   54230
3    UH35128      Oregon      F   College             2580706.30%   71210
4    WH52799     Arizona      F   College              380812.21%   94903
..       ...         ...    ...       ...                     ...     ...
991  HV85198     Arizona      M    Master              847141.75%   63513
992  BS91566     Arizona      F   College              543121.91%   58161
993  IL40123      Nevada      F   College              568964.41%   83640
994  MY32149  California      F    Master              368672.38%       0
995  SA91515  California      M  Bachelor              399258.39%       0

     Monthly Premium Auto Number of Open Complaints     Policy Type  \
0                      88                    1/0/00   Personal Auto
1                     114                    1/0/00    Special Auto
2                     112                    1/0/00   Personal Auto
3                     214                    1/1/00   Personal Auto
4                      94                    1/0/00  Corporate Auto
..                    ...                       ...             ...
991                    70                    1/0/00   Personal Auto
992                    68                    1/0/00  Corporate Auto
993                    70                    1/0/00  Corporate Auto
994                    96                    1/0/00   Personal Auto
995                   111                    1/0/00   Personal Auto

     Vehicle Class  Total Claim Amount
0    Four-Door Car          633.600000
1              SUV          547.200000
2     Two-Door Car          537.600000
3       Luxury Car         1027.200000
4     Two-Door Car          451.200000
..             ...                 ...
991  Four-Door Car          185.667213
992  Four-Door Car          140.747286
993   Two-Door Car          471.050488
994   Two-Door Car           28.460568
995            SUV          700.349052

[996 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   state                      996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Policy Type                996 non-null    object
 9   Vehicle Class              996 non-null    object
 10  Total Claim Amount         996 non-null    float64
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [68]:
file3 = pd.read_csv('Data/file1.csv')
file3.rename(columns={"ST":"state","Gender":"GENDER"}, inplace=True )
file3 = file3[colFile1]
file3.info()

#file3["Total Claim Amount"].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [69]:
def load_original_data():
    return pd.concat([file1,file2,file3], axis=0)
#axis = 0 is row wise concat of files[1;2;3]

complete_list = load_original_data()
complete_list

,Customer,state,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Standardizing header names

In [70]:
#this fct makes the header lowercase
def standardNames(x):
    tempList = []
    for item in colFile1:
        tempList.append(item.lower())
    x.columns=tempList
    return x

In [71]:
mergedFiles = standardNames(complete_list)
mergedFiles

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Deleting and rearranging columns – delete the column customer as it is only a unique identifier for each row of data

In [72]:
len(mergedFiles[mergedFiles['customer'].isna()==True])  # number of missing values

5874

In [73]:
len(mergedFiles[mergedFiles['customer lifetime value'].isna()==True])  # number of missing values

5884

In [74]:
mergedFiles['customer'].value_counts(dropna=False)

NaN        5874
MY31220       3
CW49887       3
GS98873       3
RB50392       2
           ...
BC43958       1
AI61368       1
UF37831       1
PO90615       1
SA91515       1
Name: customer, Length: 2065, dtype: int64

In [75]:
def drop_columns(x) :
    x.drop(columns=["customer"], inplace=True)
    return x

In [76]:
fileNC = drop_columns(mergedFiles)
fileNC

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Working with data types – Check the data types of all the columns and fix the incorrect ones (for ex. customer lifetime value and number of open complaints ). Hint: remove the percentage from the customer lifetime value and truncate it to an integer value.

In [77]:
fileNC["customer lifetime value"]= [x[:-1] for x in fileNC["customer lifetime value"]]
fileNC

TypeError: 'float' object is not subscriptable

In [79]:
temp=[]
for i in fileNC:
    CLV_temp = fileNC["customer lifetime value"][:-1]
    temp.append(CLV_temp[i].split()
    temp[i]-temp

SyntaxError: invalid syntax (2435322826.py, line 5)

In [80]:
for i in range(0,len(fileNC["customer lifetime value"])-1):
    fileNC."customer lifetime value".get_loc(find("%")) == fileNC."customer lifetime value"[""]

SyntaxError: invalid syntax (922063621.py, line 2)

In [81]:
fileNC

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
fileNC["customer lifetime value"][:2]

0           NaN
1    697953.59%
Name: customer lifetime value, dtype: object

### Clean the number of open complaints and extract the middle number which is changing between records. pay attention that the number of open complaints is a categorical feature.

### Filtering data and Correcting typos – Filter the data in state and gender column to standardize the texts in those columns

### Removing duplicates