# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [3]:
cars = pd.read_csv("data/vehicles.csv")

In [4]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [77]:
### your code is here

3608

group by the data by the Make  using count function

In [79]:
### your code us here

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Fuel Cost/Year,CO2 Emission Grams/Km,City Km/Liter,Highway Km/Liter,Combined Km/Liter
Make,,,,,,,,,,,,,,
AMG,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

What brand has the most cars?

In [ ]:
### your code us here

<b>show the average CO2_Emission_Grams/Km  by Brand

In [1]:
### your code us here

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [2]:
### your code us here

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [5]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [134]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [77]:
### your code is here

                                    CO2_Emission_Grams/Km
Decade Brand
80s    AMG                                     379.881345
       ASC                                     345.133719
       Acura                                   268.497682
       Alfa Romeo                              286.715163
       American Motors Corporation             314.264744
...                                                   ...
10s    Volkswagen                              219.440984
       Volvo                                   250.429309
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.509751

[488 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [80]:
## Your Code here

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857